/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

/* Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

button {
    color: white;
    background-color: #0068EC;
    border: none;
    border-radius: 2px;
    font-weight: 800;
}

a {
    color: white;
    text-decoration: none;
}

.line {
    width: 40%;
    height: 1px;
    background: #DDDDDD;
}

.box-line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

/* Index */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    background-color: #F5F9FC;
}

.banner {
    overflow: hidden;
}

.banner img {
    display: inline-block;
    position: relative;
    width: 100%;
}

.banner .sobreposicao {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 27rem;
    left: 23rem;
    color: white;
}

.banner .sobreposicao p {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.banner .sobreposicao button {
    width: 70%;
    height: 3.5rem;
    background: transparent;
    color: white;
    border: white solid 2px;
    border-radius: 4px;
}

.form {
    padding: 6.5rem;
    width: 70%;
}

.form .title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form .title img {
    width: 255px;
    height: 90px;
    margin-bottom: 0.4rem;
}

.form .title p {
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 300;
}

.form .form-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

.form .form-login p, label {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(73, 73, 73);
}

.form .form-login .form-buttons {
    display: flex;
    gap: 1rem;
}

.form .form-login .form-buttons img {
    width: 25px;
    margin: 0 1rem;
}

.form .form-login .form-buttons button {
    display: flex;
    align-items: center;
    text-align: start;
    font-weight: 600;
    width: 14rem;
    height: 2.5rem;
}

.form .form-login form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form .form-login form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

.form .form-login form div input {
    width: 100%;
    height: 3rem;
    border-color: #DDDDDD;
    padding-left: 1rem;
}

.form .form-login form button {
    width: 40%;
    height: 4rem;
    margin: 2rem 0;
}

.form .form-login form p a {
    color: #0068EC;
}

/* Processos de recrutamento */
svg {
    width: 22px;
    height: 22px;
    fill: rgb(129, 129, 129);
    margin-right: 8px;
}

.sininho {
    fill: white;
    margin: 0;
}

.navbar-items, .navbar {
    background-color: #0068EC;
    color: white;
    height: 6rem;
}

.navbar-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.25rem 0.625rem rgba(0,0,0,.1);
    position: relative;
}

.navbar-items p {
    font-size: 14px;
    color: white;
}

.navbar-items .perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.navbar-items .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    width: 50px;
    height: 50px;
    border-radius: 60%;
}

header {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: relative;
    bottom: 50px;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 8px;
    background-color: white;
}

header .applications {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

header .application {
    width: 80%;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 106, 236, 0.13) 0px 3px 20px;
}

header .application .title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.application .info div {
    display: flex;
    margin: 1.5rem 0;
}

.application .info .informations {
    display: flex;
    justify-content: space-between;
}

.application .info .informations p:last-child {
    width: 100px;
    font-weight: 600;
    text-align: right;
}

.application .process div {
    display: flex;
    margin: 1.5rem 0;
}

.application .process .function {
    font-weight: 600;
}

.application .btn-help {
    display: flex;
    justify-content: center;
}

.application button {
    width: 100%;
    height: 3rem;
    background: transparent;
    color: black;
    border: black solid 2px;
    border-radius: 4px;
    margin: 2rem 0;
}

